.container {
  margin: 20px;
}

.username {
  font-weight: bold;
  font-size: 20px;
}

.content {
  margin: 30px 0;
  text-align: left;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}
