.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contents{
  width: 100%;
  border-right: 1px solid black;
}


.wrapper {
  border-bottom: 10px solid #e0e0e0;
  display: flex;
  padding: 30px 0 25px 0;
}

.inner{
  display: flex;
  margin-left: 90px;
  width: 75%;
}
