.button {
  text-decoration: none;
  color: #fff;
  padding: 0.3em 1.4em;
  // font-size: 22px;
  border-radius: 8px;
  border: 3px solid;
  cursor: pointer;
}

// .red {
//   background-color: #ed3b50;
//   border-color: #ed3b50;
// }

// .blue {
//   background-color: #0067c6;
//   border-color: #0067c6;
//   font-size: 15px;
// }
