.button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  padding: 0.3em 1.4em;
  border-radius: 8px;
  border: 3px solid;
  cursor: pointer;
  white-space: nowrap;
  width: 50%;
  max-width: 180px;
}
