.side-bar {
  flex: 0 0 350px;
  margin-left: auto;
  border-left: 1px solid black;
  overflow-y: auto;
  align-self: stretch;
}

.confirm {
  padding: 25px 0px 30px 20px;
  border-bottom: 1px solid #cecece;
}

.section {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  width: 180px;
}

.search-button {
  text-align: center;
  margin-top: 25px;
}
