.section {
  width: 90%;
  margin: 0 auto;
  font-size: 18px;

  &-name {
    //「&(section)」+「-name」= section-name
    color: #fff;
    text-align: left;
    display: inline-block;
    margin-bottom: 0.3rem;
  }

  & + & {
    margin: 1.5rem auto;
  }
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}
