.header {
  height: 100px;
  background-color: #0067c6;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  width: 120px;
  height: auto;
  margin-left: 1.5rem;
}

.users {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 40px;

  p {
    color: #fff;
  }
}

.nav {
  display: flex;
  justify-content: right;
}
