.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
}

.contents {
  width: 100%;
}

.wrapper {
  display: flex;
  padding: 60px 200px 25px 200px;
}

.inner {
  display: flex;
}

.profile-item {
  font-size: 20px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}
