.users {
  display: flex;
  align-items: center;

  p {
    color: #fff;
  }

  img {
    margin-right: 30px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
}

.contents {
  width: 100%;
}

.wrapper {
  border-bottom: 10px solid #e0e0e0;
  display: flex;
  padding: 30px 0 25px 0;
}

.inner {
  display: flex;
  margin-left: 90px;
  width: 75%;
}

.image-button {
  margin-top: 5rem;
}

.post-item {
  display: flex;
  padding: 20px 20px 20px 150px;
}

.post-detail {
  margin-left: 20px;
}
