.post-item {
  display: flex;
  padding: 20px 20px 20px 150px;
  position: relative;
  border-top: 1px solid #e5e7eb;
}

.post-detail {
  margin-left: 20px;
}

.created-at {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 1rem;
  color: gray;
}

.delete-button {
  width: 40px;
  height: 40px;
}
