.post-box {
  display: flex;
  flex-direction: column;
}

.post-item {
  display: flex;
  padding: 20px 20px 20px 150px;
  border-top: 1px solid #e5e7eb;
}

.post-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.post-detail {
  margin-left: 20px;
}

.created-at {
  font-size: 1rem;
  color: gray;
}

.post-actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
}
