.contents {
  width: 100%;
}

.wrapper {
  border-bottom: 10px solid #e0e0e0;
  display: flex;
  padding: 50px 0 50px 0;
}

.inner {
  display: flex;
  margin-left: 90px;
  width: 75%;
}

//検索ボックス
.searchBox {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;

  &:focus {
    border-color: #1779d6;
    box-shadow: 0 0 5px rgba(23, 121, 214, 0.5);
  }
}

.image-button {
  margin-top: 5rem;
}

.post-item {
  display: flex;
  padding: 20px 20px 20px 150px;
}

.post-detail {
  margin-left: 20px;
}
