.contents {
  width: 100%;
}

.wrapper {
  border-bottom: 10px solid #e0e0e0;
  display: flex;
  padding: 50px 0 50px 0;
  align-items: center;
}

.inner {
  display: flex;
  margin-left: 90px;
  width: 50%;
  gap: 15px;
}

//検索ボックス
.searchBox {
  width: 55%;
  // max-width: 350px;
  padding: 10px;
  font-size: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;

  &:focus {
    border-color: #1779d6;
    box-shadow: 0 0 5px rgba(23, 121, 214, 0.5);
  }
}

.keyword {
  font-size: 20px;
}

.image-button {
  margin-top: 5rem;
}

.post-item {
  display: flex;
  padding: 20px 20px 20px 150px;
  align-items: center;
}

.post-detail {
  margin-left: 20px;
}
