.inner {
  display: flex;
  margin-left: 90px;
  width: 75%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputArea {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
  margin: 0 1rem;
}

.textarea {
  flex: 1;
  height: 130px;
  padding: 10px;
  font-size: 18px;
  resize: none;
}

.image-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-top: 0;
}

.error {
  color: red;
  margin-top: 5px;
  font-size: 0.9rem;
  margin-left: 1rem;
}
