.container {
  position: relative;
}

/* メニューのスタイル */
.menu {
  position: absolute;
  top: 50px;
  right: 0;
  width: 200px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  pointer-events: none;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 12px;
      border-bottom: 1px solid #ddd;
      text-align: center;

      a {
        text-decoration: none;
        display: block;
      }

      &:hover {
        background: #00297e;
        color: #fff;
      }
    }
  }
}

/* メニューを開いたときのスタイル */
.menu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.logoutButton {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
}
